<div class="wrapper">
  <div class="title">My Grades</div>
  <div class="date-box">
    <dx-date-box
      type="date"
      [value]="date"
      displayFormat="dd.MM.yyyy"
      (onValueChanged)="onDateChanged($event)">
    </dx-date-box>
  </div>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Subject</th>
          <th>Grade</th>
          <th>Teacher</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="grades.length > 0; else noData"></ng-container>
        <tr *ngFor="let grade of grades">
          <td>{{ grade.subject_name }}</td>
          <td>{{ grade.grade }}</td>
          <td>{{ grade.teacher_first_name }} {{ grade.teacher_last_name }}</td>
          <td>{{ grade.comments }}</td>
        </tr>
  
        <ng-template #noData>
  
          <tr class="no-data">
            <td>You don't have grades information for {{ date | date: 'dd.MM.yyyy'}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
