.wrapper {
  width: 70%;
  margin:60px auto;

  .title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom:20px;
  }

  .date-box {
    width:300px
  }
}

.container {
  background: linear-gradient(45deg, #478FFC, #5f2c82);
  margin-top:20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #1B4571;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}

  .no-data {
    position: relative;
    height: 44px;
    width: 100%;
    pointer-events: none;

    td {
      width: 100%;
      position: absolute;
      pointer-events: none;
    }
  }
}