<img class="signin-image" src="../../../../../assets/icons/color-icon.svg">
<div class="signin-container">
  <div class="signin-title">Let's you in</div>
    <dx-button
        class="signin-button"
        stylingMode="contained"
        text="Sign in with password"
        type="default"
        [width]="200"
        [routerLink]="['/sign/in']"
      >
    </dx-button>
    <div class="signin-registry">
      Don't have an account? <span class="signin-registry-link" [routerLink]="['/sign/up']">Sign up (for teachers only)</span>
    </div>
</div>
